{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },

  "plugins": [
    "react",
    "flow-vars"
  ],
  //"extends": "airbnb",
  "rules": {
    "max-len": [2, 200, 4, {"ignoreComments": true, "ignoreUrls": true, "ignorePattern": "^\\s*import\\s.+=\\s*require\\s*\\("}],
    "dot-notation": [1, {"allowKeywords": true, "allowPattern": ""}],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "comma-dangle": [2, "never"],
    "no-multi-spaces": [2, { "exceptions": { "ImportDeclaration": true } }],
    "space-in-parens": [2, "always", { "exceptions": ["empty"] }],
    "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "react/prop-types": [0],
    "react/jsx-boolean-value": [2, "never"],
    "react/no-multi-comp": [0]
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  }

}